<!DOCTYPE html>
<html ng-app="intApp">
<head>
<meta charset="ISO-8859-1">
<title>ITM Int Admin</title>


<link rel="stylesheet" type="text/css" href="resources/stylesheet/main.css" />
<link href="resources/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="resources/bootstrap/css/bootstrap-theme.css" rel="stylesheet">


</head>
<body ng-controller="dataflowController">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a class="navbar-brand" href="./">ITM Int Admin</a></li>

					<li><a href="dataflows-v1.html">Data Flows v1</a></li>
					<li><a href="dataflows-v2.html">Data Flows v2</a></li>
					<li><a href="dataqueues-v1.html">Data Queues v1</a></li>

					<li><a href="https://github.com/sergepeter" target="_blank">Sources hosted on Github</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<h1>
			Data Flows v1

			<button class="btn btn-warning" ng-click="initData()">
				<span class="glyphicon glyphicon-pencil"></span>  Create Initial Data
			</button>
		</h1>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Edit</th>
					<th>Data Flow</th>
					<th>Service</th>
					<th>Status</th>
					<th>Technology</th>
					<th>ProcessId</th>
					<th>Errors Daily Counter</th>
					<th>Treated Daily Counter</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dataflow in dataflows">

					<td>
						<button class="btn btn-success" ng-click="editDataFlow(dataflow.id)">
							<span class="glyphicon glyphicon-pencil"></span>Edit
						</button>
						<button class="btn btn-danger" ng-click="deleteDataFlow(dataflow.id)">
							<span class="glyphicon glyphicon-pencil"></span>Del
						</button>
					</td>
					<td>{{ dataflow.name }}</td>
					<td>{{ dataflow.itService.name }}</td>
					<td>{{ dataflow.status }}</td>
					<td>{{ dataflow.techno }}</td>
					<td>{{ dataflow.processId }}</td>
					<td>{{ dataflow.onErrorsMessagesToday }}</td>
					<td>{{ dataflow.treatedMessagesToday }}</td>

				</tr>
			</tbody>
		</table>

		<hr>
		<button class="btn btn-success" ng-click="editDataFlow('new')">
			<span class="glyphicon glyphicon-user"></span>  Create New Data Flow
		</button>
		<hr>

		<h3 ng-show="edit">Create New Data Flow:</h3>
		<h3 ng-hide="edit">Edit Data Flow:</h3>

		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Data Flow:</label>
				<div class="col-sm-10">
					<input type="text"  class="form-control"  ng-model="name" placeholder="Data Flow">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">IT Service Name:</label>
				<div class="col-sm-10">
					<input type="text"  class="form-control"  ng-model="itServiceName" placeholder="Service Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Status:</label>
				<div class="col-sm-10">
					<input type="text"  class="form-control"  ng-model="status" placeholder="Status">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Technology:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"   ng-model="techno" placeholder="Technology">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Process Id:</label>
				<div class="col-sm-10">
					<input type="text"  class="form-control"  ng-model="processId" placeholder="Process Id">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Errors Daily Counter:</label>
				<div class="col-sm-10">
					<input type="text"  class="form-control"  ng-model="onErrorsMessagesToday" placeholder="0">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Treated Daily Counter:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  ng-model="treatedMessagesToday" placeholder="0">
				</div>
			</div>
		</form>
		
	<form class="form-horizontal" role="form">
    
    
   



  </form>

		<hr>
		<button class="btn btn-success" ng-disabled="error || incomplete" ng-click="updateDataFlow(dataflow.id)">
			<span class="glyphicon glyphicon-save"></span>Save Changes
		</button>

	


	<script type="text/javascript" src="resources/js/lib/jquery.js"></script>
	<script type="text/javascript" src="resources/js/lib/angular.min.js"></script>
	<script type="text/javascript" src="resources/bootstrap/js/bootstrap.min.js"></script>
	<script src="resources/js/angular/myapp-v1.js"></script>

</body>
</html>
